body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 20px;
}

.right {
  float: right;
}

.img-small {
  width: 400px;
}

.content-viewport {
  max-width: 1200px;
  margin: auto;
  padding: 0;
}

.content {
  margin-top: 64px;
  padding: 0 15px;
}

.float-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
