body {
  margin: 0;
  padding-top: 64px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 20px;
}

.main-text {
  line-height: 1.3;
}

.content-viewport {
  max-width: 1200px;
  margin: auto;
  padding: 0;
}

.basic-information{
  font-style: italic;
  line-height: 1.5;
}
.float-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-background {
  background-color: #dedede;
}

.content-block {
  padding: 30px 0;
}

.monument-img {
  float: left;
  height: 400px;
  margin-right: 20px;
  margin-bottom: 54px;
}

.monument-img.right {
  float: right;
  margin-left: 20px;
}

.obelisc-information {
  margin: 30px 0;
}

.flex {
  display: flex;
}
