.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #000000;
  padding: 20px 5px;
  z-index: 1;
}

.navbar .navbar-item {
  display: inline;
  padding: 0 20px;
}

.navbar .navbar-item:first-child {
  padding-left: 0;
}

.navbar .navbar-item a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
}

.navbar .navbar-item a:hover {
  cursor: pointer;
  color: #d2d2d2;
}
